[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "zsh/hub-zsh-completion"]
	path = zsh/hub-zsh-completion
	url = https://github.com/glidenote/hub-zsh-completion.git
[submodule "emacs/public_repos/emacs-powerline"]
	path = emacs/public_repos/emacs-powerline
	url = https://github.com/jonathanchu/emacs-powerline.git
[submodule "emacs/public_repos/direx"]
	path = emacs/public_repos/direx
	url = https://github.com/m2ym/direx-el.git
[submodule "zsh/zaw"]
	path = zsh/zaw
	url = git://github.com/zsh-users/zaw.git
