[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "zsh/hub-zsh-completion"]
	path = zsh/hub-zsh-completion
	url = https://github.com/glidenote/hub-zsh-completion.git
